/* === CAROUSEL === */
#app {
  background-color: #fff;
  width: 100%;
  padding: 0;
  height: 48%;
}

.carousel {
  margin: 0;
  height: 100%;
}

.carousel > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin: 0;
}

.carousel-mobile {
  display: none;
}

.carousel-mobile img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* === MODAL === */
/* Fondo borroso */
.carousel-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* Ventana modal centrada */
.carousel-modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #473f3f;
  border-radius: 12px;
  z-index: 1001;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Imagen grande */
.carousel-modal-window img {
  display: block;
  max-width: 70%;
}

/* Controles */
.carousel-modal-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0.5rem 0;
}

.carousel-modal-controls button {
  background-color: #222;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

#gallery > div {
  margin-bottom: 30px;
}
#gallery > img {
  max-width: 100%;
}