#devlogs {
   background-color: rgb(202, 166, 166);
   width: 100%;
   height: 48%;
   overflow: hidden;
   color: #181818;
 }
 
 #devlogs-preview {
   height: 100%;
   width: 100%;
   cursor: pointer;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
 }
 
 #devlogs-preview:hover {
   transform: scale(1.05);
   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
 }
 

 /* Fondo borroso / overlay */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px); /* efecto blur */
  background-color: rgba(0, 0, 0, 0.4); /* semitransparente */
  z-index: 1000;
}

/* Ventana modal centrada */
.modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%; 
  height: 100vh;
  background-color: #fff ;
  color: #222222;
  overflow-y: auto;
  padding-bottom: 1rem;
  z-index: 1001;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  padding: 0 !important;
}
.modal-window::-webkit-scrollbar {
  display: none;
}

#sprints {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
#sprints > div {
  height: 20vh;
  overflow: hidden;
}
#devlogs_body {
  padding: 0 !important;
  margin-bottom: 70px;
}