@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

#newspaper {
   background-color: #fff;
   padding: 40px;
   padding-bottom: 0;
   font-family: 'IBM Plex Serif', serif;
   height: 100%;
   color: black;
}

#newspaper header > p {
   display: flex;
   justify-content: space-between;
}

#newspaper header {
   text-align: center;
   padding: 1rem;
   padding: 0;
}

#newspaper h1 {
   margin: 0;
   border-top: 2px solid black;
   border-bottom: 2px solid black;
   padding: 10px 0;
}

#newspaper h2 {
   padding-bottom: 0.3rem;
   font-size: 1.5rem;
   justify-self: center;
}

#newspaper article {
   padding: 1rem 0;
   border-bottom: 1px solid gray;
   margin-bottom: 10px;
}


#newspaper footer {
   text-align: center;
   padding: 1rem;
   font-size: 0.9rem;
   color: #666;
}
.intro {
   margin-bottom: 20px;
   padding: 20px;
   border-bottom: 1px solid black;

}
@media (min-width: 950px){
   #col {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;

   }
   #col article {
      width: 48%;
   }
}