@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

#newspaper {
   background-color: #e9e6df;
   padding: 40px;
   font-family: 'IBM Plex Serif', serif;
   height: 100%;
   color: black;
}

header>p {
   border-bottom: 1px solid black;
   display: flex;
   justify-content: space-between;
}


header {
   text-align: center;
   padding: 1rem;
   padding: 0;
}

h1 {
   margin: 0;
   font-size: 2rem;
}

h2 {
   border-bottom: 2px solid #222;
   padding-bottom: 0.3rem;
   margin-top: 2rem;
   font-size: 1.5rem;
}

article {
   padding: 1rem 0;
   border-bottom: 1px solid #ccc;
}

.highlight {
   color: #c00;
   font-weight: bold;
}

footer {
   text-align: center;
   padding: 1rem;
   font-size: 0.9rem;
   color: #666;
}