
/* === SIDEBAR === */
#sidebar {
   background-color: #fff;
   color: black;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 40px !important; 
   flex: 1;
   text-align: center;
   transition: transform 1s ease;
   overflow-y: auto;
   min-width: 300px;
   margin-bottom: 70px;
 }
 #sidebar > div {
   height: 100%;
   justify-content: space-between;
 }
 
 #sidebar p {
   font-size: large;
 }
 
 #sidebar>img {
   width: 100%;
   margin-bottom: 50px;
 }
 
 #sidebar>div {
   display: flex;
   flex-direction: column;
   gap: 20px;
   width: 100%;
 }
 
 #aboutus>p {
   text-align: justify;
 }
 
 #rss {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-top: 20px;
 }
 
 #sidebar {
  padding: 20px;
  max-width: 25%;
}

#sidebar > img {
  width: 100%;
}

#rss {
  width: 100%;
  margin: 20px auto;
}

#rss > a > img {
  width: 40px;
}

a {
  color: rgb(139, 24, 24);
}
