
/* === SIDEBAR === */
#sidebar {
   background-color: #fff;
   color: black;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 40px;
   flex: 1;
   text-align: center;
   transition: transform 1s ease;
   overflow-y: auto;
   min-width: 300px;
 }
 #sidebar > div {
   height: 100%;
   justify-content: space-between;
 }
 
 #sidebar p {
   font-size: large;
 }
 
 #sidebar>img {
   width: 100%;
   margin-bottom: 50px;
 }
 
 #sidebar>div {
   display: flex;
   flex-direction: column;
   gap: 20px;
   width: 100%;
 }
 
 #aboutus>p {
   text-align: justify;
 }
 
 #rss {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-top: 20px;
 }
 