#teampage {
   padding: 40px;
}

#teampage header div {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

#teampage header {
   margin-bottom: 40px;
}

article {
   margin-bottom: 30px;
}

article p {
   padding: 10px;
   
}
article a {
   font-size: medium;
}
article span {
   display: flex;
   width: 100%;
   align-items: center;
   justify-content: space-between;
}
footer {
   display: flex;
   align-items: center;
   justify-content: center;
}


.team-modal-window {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 40%; 
   height: 100vh;
   background-color: #fff ;
   color: #222222;
   overflow-y: auto;
   padding-bottom: 1rem;
   z-index: 1001;
   box-shadow: 0 0 20px rgba(0,0,0,0.5);
   padding: 0 !important;
 }
 .team-modal-window::-webkit-scrollbar {
   display: none;
 }
 