#teampage {
   padding: 40px;
   margin-bottom: 70px;
}

#teampage header div {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

#teampage header {
   margin-bottom: 40px;
}

article {
   margin-bottom: 30px;
}

article p {
   padding: 10px;
   
}

footer {
   display: flex;
   align-items: center;
   justify-content: center;
}