/* === WAVES FROM BEYOND SECTION === */
#wfb {
   display: flex;
   flex-direction: column;
   flex: 4;
   font-size: 24px;
   gap: 50px;
 }
 
 #wfbimgs {
   display: flex;
 }
 
 #logowfb {
   flex: 0 0 auto;
   max-width: 60%;
   margin: 0 auto ;
   height: auto;
 }
 
 #desc {
   flex: 1 1 auto;
   min-height: 0;
   overflow-y: auto;
   padding-right: 20px;
 }
 